<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.TblCompanyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.TblCompany">
        <id column="id" property="id" />
        <result column="address" property="address" />
        <result column="legal_person" property="legalPerson" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="logo" property="logo" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="telphone" property="telphone" />
        <result column="comment" property="comment" />
        <result column="liveday" property="liveday" />
        <result column="person_limit" property="personLimit" />
        <result column="access_token" property="accessToken" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, address, legal_person, account, password, logo, name, sort, status, telphone, comment, liveday, person_limit, access_token
    </sql>

    <select id="getByCompanyName" resultType="cn.stylefeng.guns.modular.system.model.TblCompany">
        select
        <include refid="Base_Column_List" />
        from tbl_company where name like CONCAT('%',#{name},'%');
    </select>
</mapper>
